#registerContainer{
    background-color: steelblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    color: white;
    font-size: larger;

}

#registerButton{
    color: white;
    border-style: solid;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
   
    font-weight: bold;
}

#registerButton:hover {
    background: white;
    color: steelblue;
    cursor: pointer;
  }