#youtubePlayer {
   height: auto;
   width: auto;
}
iframe {
    height: 750px;
    width: 90%;
    transition: width 3s, height 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
